langchain
langchain_openai
llama_index
llama-index-vector-stores-chroma
llama-index-embeddings-langchain
llama_cloud_services
livekit-agents
livekit-plugins
python-dotenv
chromadb
requests
annoy
pydantic
flask
pandas
websockets
rich
mcp
librosa